<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../static/css/style.css">
  <title>Расчет углеродного следа</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Расчитай свой углеродный след!</h1>
      <p>Реши проблему глобального потепления самостоятельно!</p>
    </div>
  </header>
  <main>
    <h2 class="main__title">4. Выбери основной способ передвижения:</h2>
    <ul class="list">
        <li class="list__item">
        <a href='/{{ size }}/{{ lights }}/{{ device }}/1'>
            <img class="item__img" src="../../../static/img/bike.jpeg" alt="bike">
            <span>Пешком, Велосипед, Общ. транспорт</span>
        </a>
      </li>
      <li class="list__item">
        <a href='/{{ size }}/{{ lights }}/{{ device }}/2'>
            <img class="item__img" src="../../../static/img/car.jpg" alt="car">
            <span>Редкие поездки на авто</span>
        </a>
      </li>
      <li class="list__item">
        <a href='/{{ size }}/{{ lights }}/{{ device }}/3'>
            <img class="item__img" src="../../../static/img/plane.jpg" alt="plane">
            <span>Частые поездки на авто/перелеты</span>
        </a>
      </li>
    </ul>
  </main>
</body>
</html>