<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Результат углеродного следа</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Ваш углеродный след</h1>
      <p>Теперь вы знаете свое влияние и можете действовать!</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title main__title--margin">Ваш ежемесячный углеродный след:</h2>
    <div class="main__rez" id="end">
        
        {%if result <= 300%}
        <img class="rez__img" src="{{ url_for('static', filename='img/planet_good.svg') }}" alt="Планета в порядке">
        <span>Ваш след: {{ result }} кг CO₂-экв.</span>
        <span>Отлично! Ваш след близок к целевому уровню.</span>
        
        {%elif result > 300 and result < 700%}
        <img class="rez__img" src="{{ url_for('static', filename='img/planet_medium.svg') }}" alt="Планета требует внимания">
        <span>Ваш след: {{ result }} кг CO₂-экв.</span>
        <span>Средний результат. Есть, над чем поработать!</span>
        <span>Хотите получить более точный аудит?</span>
        <a href="{{ url_for('form') }}" class="main__link">Заполнить форму</a>
        
        {%elif result >= 700%}
        <img class="rez__img" src="{{ url_for('static', filename='img/planet_bad.svg') }}" alt="Планета в опасности">
        <span>Ваш след: {{ result }} кг CO₂-экв.</span>
        <span>Высокий след. Необходимы срочные меры по сокращению.</span>
        <span>Хотите получить более точный аудит?</span>
        <a href="{{ url_for('form') }}" class="main__link">Заполнить форму</a>
        {%endif%}

        <h3 style="margin-top: 30px;">Вклад категорий (кг CO₂-экв.):</h3>
        <ul style="list-style: none; padding: 0; text-align: center;">
            <li>Энергия (Дом): {{ energy }} кг</li>
            <li>Транспорт: {{ transport }} кг</li>
            <li>Питание: {{ food }} кг</li>
        </ul>

        <h3 style="margin-top: 20px;">🔥 Ваши Рекомендации:</h3>
        
        {% if transport > energy and transport > food %}
            <p style="color: #EB8028;">Ваш самый большой вклад – ТРАНСПОРТ. Попробуйте пользоваться общественным транспортом или велосипедом.</p>
        {% elif food > energy and food > transport %}
            <p style="color: #EB8028;">Ваш самый большой вклад – ПИТАНИЕ. Сокращение потребления красного мяса — самый эффективный шаг. Выбирайте курицу или растительные продукты.</p>
        {% elif energy > transport and energy > food %}
            <p style="color: #EB8028;">Ваш самый большой вклад – ЭНЕРГИЯ. Проверьте, все ли лампы заменены на LED, и отключайте приборы из розетки, когда они не используются.</p>
        {% else %}
            <p>У вас сбалансированный след! Вы уже молодец! Продолжайте искать мелкие способы для оптимизации.</p>
        {% endif %}
    </div>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>